---
import Hero from "../components/Hero.astro";
import MenuNav from "../components/MenuNav.astro";
import Footer from "../components/Footer.astro";
import RecentPost from '../components/RecentPost.astro';
import ContactForm from "../components/ContactForm.astro";
import ChatIcon from "../components/ChatIcon.astro";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="robots" content="noindex, nofollow" />
        <title>XZ STUDIOS</title>
        <link rel="stylesheet" href="/main.css" />
        <link rel="stylesheet" href="https://use.typekit.net/iza3jks.css" />
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v6.5.0/css/all.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
        <link rel="icon" type="image/x-icon" href="/img/favicon/favicon.ico" />
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-SM8RYLZY5G"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-SM8RYLZY5G');
        </script>
        <script type="text/javascript">
          // Clarity
          (function (c, l, a, r, i, t, y) {
            c[a] =
              c[a] ||
              function () {
                (c[a].q = c[a].q || []).push(arguments);
              };
            t = l.createElement(r);
            t.async = 1;
            t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0];
            y.parentNode.insertBefore(t, y);
          })(window, document, "clarity", "script", "jovcl27t8k");
        </script>
    </head>
  <body>
    <div class="notification-menu">1</div>

<MenuNav />


    <section id="introduction" class="vh-100">
      <div class="intro-container">
        <h2 class="embraceText">this page is playing<br>hide and seek</h2>
       </div>
    </section>


<!-- <Footer /> -->
<ChatIcon />
<ContactForm />

    <script src="/script.js" is:inline></script>

  </body>
</html>
