---
import Hero from "../components/Hero.astro";
import MenuNav from "../components/MenuNav.astro";
import Footer from "../components/Footer.astro";
import RecentPost from '../components/RecentPost.astro';
import ContactForm from "../components/ContactForm.astro";

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>XZ STUDIOS</title>
    <meta name="title" content="XZ STUDIOS | Marketing & branding studio" />
<meta name="description" content="We help small businesses make big impressions. A Malmö based studio for building brands through strategy, marketing and design." />
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="https://use.typekit.net/iza3jks.css" />
    <link
      rel="stylesheet"
      href="//use.fontawesome.com/releases/v6.5.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="icon" type="image/x-icon" href="/img/favicon/favicon.ico" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SM8RYLZY5G"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-SM8RYLZY5G');
    </script>
    <script type="text/javascript">
      // Clarity
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "jovcl27t8k");
    </script>
  </head>
  <body>
    <div class="notification-menu">1</div>

<MenuNav />


    <Hero bgColor="white-bg">
      <span slot="subheader">We help small businesses make big impressions</span>
            <span slot="subheader2">Marketing</span>

      <span slot="subheaderMobile">We help small businesses <br> make big impressions</span>
    </Hero>


    <section id="introduction">
      <div class="intro-container">
        <h2 class="embraceText">hello</h2>
        <p class="embrace-answer hidden">
          <strong>See what you did?</strong> Your curiosity led you to explore
          what lay behind that button. That very curiosity is the heartbeat of
          XZ. We thrive in embracing the unknown to create new marketing
          experiences.
        </p>

        <p class="embrace-answer2 hidden">
          <strong>Think about it:</strong> Google wasn't the first search
          engine. And Facebook was just another social platform. But they were
          both pushing past comfort zones and naysayers to shape something
          different. Remember, The Beatles were initially rejected by many
          record labels with critiques that they had no future in show business.
          <br /><strong>
            <br />
            Each story, a testament of persistence. We encourage that.</strong
          >
        </p>
        <button class="btn-outline-white hidden" id="tellMoreButton">
          Tell me more
        </button>

        <button class="btn-outline-white" id="embraceButton">Try this</button>
      </div>
    </section>

    <section id="introduction-about">
    <div class="textvideo-container">
      <div class="left-split-text">
        <h2>
        a malmö studio building brands </h2>
        <p>
          We help small businesses with marketing and branding to create something new and different. 
          With our base in Malmö, we use the world as our inspiration to explore new ideas. Your brand should not just be seen, but remembered. 
          
          
                  </p>

        <a href="/about/" class="btn-red">We are XZ</a>
      </div>
  
       
   

      <div class="right-split-video">
        <video src="video/xz-video2.mp4" width="100%" height="100%" loop autoplay muted playsinline></video>

      </div>
    </div>

  </section>

    <section class="services-spec">
      <h2>we do</h2>

      <div class="four-columns">
        <div class="column-item top-column">
          <h3>Brand concepts</h3>
          <p>
            Well-grounded strategies, stunning visuals, and strong storytelling are essential for strong brands. Together, we will ensure that your brand resonates with both you and the audience.        </div>
        <div class="column-item top-column">
          <h3>Ads & Campaigns</h3>
          <p>
            To get more out of advertising, your campaigns need to have a clear goal. Whether it's gaining brand awareness or more leads, we support you with ideas, knowledge, and production.

          </p>
        </div>
        <div class="column-item">
          <h3>Strategic Marketing</h3>
          <p>
            What should you communicate, where, and how? By pinpointing beneficial actions we produce the right content and strategy for you – from social media, SEO, articles to custom websites.          </p>
            
          </div>
        <div class="column-item">
          <h3>Graphic Design</h3>
          <p>
            Design is more than just aesthetics – it's about communication. We care about things like pixels, fonts, and colors, designing everything from presentations and illustrations, to full websites.        
  
          
          </p>        </div>
      </div>

      <div class="button-center">

          <a
            href="/services/"
            class="btn-red"
            >Here we explain more</a
          >
        
      </div>
    </section>

    <section id="home-hero-two">
      <div id="tilt-card">
        <img src="/img/red-smiley-happy.svg" class="smile" alt="">
      </div>
      <div class="header-welike">
        <h2 id="h2SadSmiley" class="desktop">
          We like to make good<br />
          things to good people.
        </h2>
        <h2 id="h2SadSmileyMobile" class="mobile">
          We like to make<br /> good
          things to good people.
        </h2>
        <h2 id="h2Smiley" class="hidden">
          We like to make good<br />
          things to sad people too.
        </h2>

      </div>

      <div class="customers-container">
        <div class="customers-wrapper">
          <div class="client-logo"><a href="https://www.eseco.se" target="_blank">
            <img src="img/clients/partners_loggor_eseco_svart.png" alt="" />
          </a>
          </div>
          <div class="client-logo">       <a href="https://adlen.nu" target="_blank">
            <img src="img/clients/partners_loggor-10.png" alt="" /></a>
          </div>
          <div class="client-logo"><a href="https://ne.se" target="_blank">
            <img src="img/clients/partners_loggor-07.png" alt="" /></a>
          </div>
          <div class="client-logo"><a href="https://equitours.se" target="_blank">
            <img src="img/clients/partners_loggor-06.png" alt="" /></a>
          </div>
          <div class="client-logo"><a href="https://thelabrats.se" target="_blank">
            <img src="img/clients/labrats_logo.png" alt="" /></a>
          </div>

        </div>
       
      </div>
    </section>
   

    <section id="blog3-preview">
      <div class="blogcontainerThree">
        <div class="text-container">
          <h2 class="white">experiences<br>creates stories</h2>
          <p class="white-color">Here are our marketing insights and
            random reflections you won't get anywhere else.
          </p>

          <a class="btn-red" href="/stories/">Discover stories</a>
        </div>
      </div>
  
      <RecentPost />
    </section>      



    <section id="ending">
      <!-- <video src="video/compr-Flying_Over_White_Clouds_fhd - 02.mp4" loop autoplay muted></video> -->
        <div class="endnote">
          <h3>
            If you've come all the way to the page bottom, we clearly have
            something in common.
          </h3>
          <p>
            And that might be a good reason for us to get to know eachother.
            <a class="btnOpenForm">Say hi</a> or if you want to follow our
            journey – subscribe to our updates. For each new subscriber we must
            celebrate with a beer.
          </p>
          <div class="klaviyo-form-UuHhsQ desktop"></div>
          <div class="klaviyo-form-Wbf2n2 mobile"></div>
        </div>
    </section>
    <style>
   

      div.endnote h3 {
font-weight: 700 !important;}
    
div.endnote a {
color: #c83c4e;}
    </style>

    <script
      async
      type="text/javascript"
      src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=Y6DGXR"
    ></script>

<Footer />
<ContactForm />

    <script src="/script.js" is:inline></script>

  </body>
</html>
