---
import MenuNav from "../components/MenuNav.astro";
import Footer from "../components/Footer.astro";
import ContactForm from "../components/ContactForm.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SECRETS</title>
    <meta name="title" content="secrets" />
<meta name="robots" content="noindex, nofollow" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="https://use.typekit.net/iza3jks.css" />
    <link
      rel="stylesheet"
      href="//use.fontawesome.com/releases/v6.5.0/css/all.css"
    />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SM8RYLZY5G"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SM8RYLZY5G');
</script>
    <script type="text/javascript">
      // Clarity
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "jovcl27t8k");
    </script>
  </head>
  <body>
    <html>

    <section id="secrets" class="vh-100 dark-bg">

        <div class="secrets-container">

            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Circle-icons-download.svg/1200px-Circle-icons-download.svg.png" alt="">
           <h3>

           </h3>
           
            <a class="btn-red" href="https://www.icloud.com/attachment/?u=https%3A%2F%2Fcvws.icloud-content.com%2FB%2FAaiXX315YW-v1LWdvppgfe5qgITsAdYxTy9wFKiz-I4VvavXympd68D0%2F%24%7Bf%7D%3Fo%3D[...details...]&uk=BazvUk4krQjid8EPHETfVQ&f=xz_logo_rod.png&sz=17403">
                Download file
            </a>
        </div>
    </section>
    <script is:inline>

document.addEventListener('DOMContentLoaded', function() {
    // Function to transform the iCloud URL to the desired format
    function transformiCloudURL(originalURL) {
        // Decode the encoded part within the original URL
        const encodedPart = originalURL.split('?u=')[1].split('&')[0];
        let decodedURL = decodeURIComponent(encodedPart);

        // Extract the filename from the 'f' parameter in the original URL
        const filenameParam = new URLSearchParams(originalURL).get('f');
        if (decodedURL && filenameParam) {
            // Replace the placeholder with the actual filename in the decoded URL
            decodedURL = decodedURL.replace(/\$%7Bf%7D/, filenameParam);

            // Reconstruct the new URL with the filename and original query parameters
            const newURL = decodedURL + originalURL.substring(originalURL.indexOf('&'));
            return newURL;
        }
        return originalURL; // Return the original URL if transformation fails
    }

    // Find the link element and update its href
    const linkElement = document.querySelector('.btn-red');
    if (linkElement) {
        // Get the current href of the link and transform it
        const originalHref = linkElement.getAttribute('href').trim();
        const transformedHref = transformiCloudURL(originalHref);

        // Update the href attribute of the link
        linkElement.setAttribute('href', transformedHref);
    }
});
    </script>
    <ContactForm />
    <script src="/script.js" is:inline></script>
    </html>
  </body>

  <style lang="scss">
    #secrets {
        display: flex;
        justify-content: center;
        align-items: center;
    .secrets-container {
        max-width: 100%;
        height: 100%;
padding: 2rem;        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
        align-items: center;
        img {
    width: 150px;
}
    }
}
  </style>