---
import MenuNav from "../components/MenuNav.astro";
import Footer from "../components/Footer.astro";

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WE ARE XZ</title>
    <meta name="title" content="What we do | XZ STUDIOS" />
<meta name="description" content="We help you tell your story through brand concepts, marketing, communications, advertising, and graphic design. Read more." />
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="https://use.typekit.net/iza3jks.css" />
    <link
      rel="stylesheet"
      href="//use.fontawesome.com/releases/v6.5.0/css/all.css"
    />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SM8RYLZY5G"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SM8RYLZY5G');
</script>
    <script type="text/javascript">
      // Clarity
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "jovcl27t8k");
    </script>
  </head>
  <body>
<MenuNav />
    <section class="white-bg" id="intro-services">
      <div class="highlightTextContainer">
        <h1 class="fade-highlight">what we do</h1>

        <h2 class="intro-subheader" style="margin-top: 1.5rem">
          The complete guide to our services</h2>
      </div>
    </section>

    <section class="dark-bg vh-90 about-us">
      <div class="text-centercontainer">
        <h2 class="white">every business<br> has a story to tell</h2>

        <br />
        <p class="white">
          Our mission is to make sure your story is being told. By supporting you with our knowledge in brand concepts, marketing and communications, advertising and campaigns, and graphic design – we can help you to tell that story.        </p>
      </div>
      </section>


      <div class="red-flag-box"><p class="white-color btnOpenForm">We can help you. You do you and we do you.</p></div>


      <section class="white-bg dark-color service-item">
        <div class="service-item-wrapper">

          <div class="service-item-heading"><h2>strategic<br>marketing</h2></div>

          <div><p>Think of the classic communications model. You have a sender, a message and a receiver. These are the three pillars of all communication, and they all play a big part in your marketing. All your actions leads the way.</p>
          

            <ul class="custom-bullet"> 
              <!-- <li>Website optimization</li>  -->
              <li>Marketing evaluation & analytics</li> <li>PR-activities</li> <li>SEM (Search Engine Marketing); Paid search & Google Ads</li> <li>SEO (Search Engine Optimization); Improve your organic ranking on search engines</li> 
              <!-- <li>Marketing strategies</li> -->
               <li>Content production; e.g. social media, blog posts and articles</li> </ul>

          </div>
        </div>
      </section>

      <section class="dark-bg white-color service-item reversed-service">
        <div class="service-item-wrapper">

          <div class="service-item-heading"><h2>brand concepts</h2></div>

          <div><p>How do you want your brand to be perceived? What does your brand stand for?  And who should it appeal to? 
          The concept behind your brand identity is the key to understand how you should communicate. Your brand should not just be seen, but remembered.
          </p>
          

            <ul class="custom-bullet"> 
              <li>Logotype</li> <li>Website</li> <li>Brand Guidelines</li> <li>Research & Strategy</li> 

          </div>
        </div>
      </section>

      <section class="white-bg service-item dark-color">
        <div class="service-item-wrapper">

          <div class="service-item-heading"><h2>ads &<br>campaigns</h2></div>

          <div class="service-item-text"><p>With thoughtful ads & campaigns, you are more likely to reach the audience you want, and to get more people to buy your products.
            
            But how do we get the right people to actually want to click on the ad?

            It all depends on the goal; e.g. brand awareness, more traffic to your website or increased sales. We help you with the ideas, production and analysis. 
            
            
          

            <ul class="custom-bullet"> 
              <li>Campaign plans & strategy</li> <li>A/B testing</li> <li>Digital advertising; e.g. on social media and websites</li> <li>Print advertising</li> 
          </ul>

          </div>
        </div>
      </section>


      <section class="dark-bg white-color reversed-service service-item">
        <div class="service-item-wrapper">

          <div class="service-item-heading"><h2>graphic design</h2></div>

          <div><p>Everything from color choices, to shapes and forms affect the interpretation. Our background in both graphic design and marketing, gives us a deeper understanding of how all aspects need to work together.  

            If there's something we love more than visually pleasing design – it's to create it. </p>
          

            <ul class="custom-bullet"> 
              <li>Illustrations</li> <li>Business icons</li> <li>Posters & Prints</li> <li>Marketing materials such as flyers, broschures and roll-ups</li> 
              <li>Landing pages and presentation slides</li>
            </ul>

          </div>
        </div>
      </section>

    <section class="services-customer-section2">
      <h2 class="dark-color">If they are happy we are happy</h2>
      <div class="customer-boxcontainer">
        <div class="customer-box-item">
          <img src="/img/clients/partners_loggor-07.png" alt="" />
          <p>
            <a href="https://www.ne.se/" target=”_blank” class="dark-color">NE</a>, the national encyclopedia of
            Sweden knows the importancy of a strong brand. By supporting them
            with a digital brand platform and internal marketing templates, we help them making sure their marketing is
            consistent.
          </p>
        </div>

        <div class="customer-box-item">
          <img src="/img/clients/partners_loggor-10.png" alt="" />
          <p>
            <a href="https://www.adlen.nu/" target=”_blank” class="dark-color">Göran Adlén</a>, well-known for his inspiring and
            spot-on trend analysis, talks and books. We work closely with him to keep
            his visuals the same quality, and his new ideas to come
            alive.
          </p>
        </div>

        <div class="customer-box-item">
          <img src="/img/clients/partners_loggor_eseco_svart.png" alt="" />
          <p>
            <a href="https://www.eseco.se/" target=”_blank” class="dark-color">Eseco</a> in Malmö develops ERP systems making
            e-commerce much easier. XZ is their outsourced marketing department helping them continiously with 
            marketing; social media management, graphic design, marketing
            materials, print and much more.
          </p>
        </div>

        <div class="customer-box-item">
          <img src="/img/clients/partners_loggor-06.png" alt="" />
          <p>
           <a href="https://www.equitours.se/" target=”_blank” class="dark-color">Equi Tours</a> is a travel agency with a clear niche,
            and we are happy to help them with the reach and exposure they need
            through digital and classic advertising.
          </p>
        </div>
      </div>
    </section>
   

    <!-- NEDAN HÄMTAR FOOTER + KONTAKTFORM -->
    <div id="openContactForm" class="hidden"></div>
  <Footer />
    <script src="/script.js" is:inline></script>
  </body>
</html>
