<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>We are XZ</title>
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="https://use.typekit.net/iza3jks.css" />
    <link
      rel="stylesheet"
      href="//use.fontawesome.com/releases/v6.5.0/css/all.css"
    />
    <script type="text/javascript">
      // Clarity
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "jovcl27t8k");
    </script>
  </head>
  <body>
    <div id="master-menu"></div>

    <section id="white-bg">
      <div class="highlightTextContainer">
        <h1 class="fade-highlight">what we do</h1>

        <h2 class="intro-subheader">
          The complete guide to our services and yada-yada </h2>
      </div>
      <!-- <img class="bird bird-two" src="/img/jason-seagull.png" alt="" /> -->
    </section>

    <section class="dark-bg vh-90 about-us">
      <div class="text-centercontainer">
        <h2 class="white">every business<br> has a story to tell</h2>

        <br />
        <p class="white">
          Our mission is to make sure your story is being told. By supporting you with our knowledge in brand concepts, marketing and communications, advertising and campaigns, and graphic design – we can help you to tell that story.        </p>
      </div>


      </section>
      <div class="red-flag-box"><p class="white-color">Our mojo's</p></div>


      <section class="white-bg vh-80 service-item">
        <div class="service-item-wrapper">

          <div class="service-item-heading"><h2>strategic<br>marketing</h2></div>

          <div><p>In marketing, the purpose behind all your actions should be what leads the way. Think of the classic communications model. You have a sender, a message and a receiver. These are the three pillars of all communication, and they all play a big part in your marketing.</p>
          

            <ul class="custom-bullet"> 
              <!-- <li>Website optimization</li>  -->
              <li>Marketing evaluation & analytics</li> <li>PR-activities</li> <li>SEM (Search Engine Marketing)</li> <li>SEO (Search Engine Optimization)</li> 
              <!-- <li>Marketing strategies</li> -->
               <li>Content production; e.g. social media, blog posts and articles</li> </ul>

          </div>
        </div>
      </section>

      <section class="dark-bg white-color vh-80 service-item">
        <div class="service-item-wrapper">

          <div class="service-item-heading"><h2>brand concepts</h2></div>

          <div><p>In marketing, the purpose behind all your actions should be what leads the way. Think of the classic communications model. You have a sender, a message and a receiver. These are the three pillars of all communication, and they all play a big part in your marketing.</p>
          

            <ul class="custom-bullet"> 
              <!-- <li>Website optimization</li>  -->
              <li>Marketing evaluation & analytics</li> <li>PR-activities</li> <li>SEM (Search Engine Marketing)</li> <li>SEO (Search Engine Optimization)</li> 
              <!-- <li>Marketing strategies</li> -->
               <li>Content production; e.g. social media, blog posts and articles</li> </ul>

          </div>
        </div>
      </section>

      <section class="white-bg vh-80 service-item">
        <div class="service-item-wrapper">

          <div class="service-item-heading"><h2>strategic<br>marketing</h2></div>

          <div><p>In marketing, the purpose behind all your actions should be what leads the way. Think of the classic communications model. You have a sender, a message and a receiver. These are the three pillars of all communication, and they all play a big part in your marketing.</p>
          

            <ul class="custom-bullet"> 
              <!-- <li>Website optimization</li>  -->
              <li>Marketing evaluation & analytics</li> <li>PR-activities</li> <li>SEM (Search Engine Marketing)</li> <li>SEO (Search Engine Optimization)</li> 
              <!-- <li>Marketing strategies</li> -->
               <li>Content production; e.g. social media, blog posts and articles</li> </ul>

          </div>
        </div>
      </section>


      <section class="dark-bg white-color vh-80 service-item">
        <div class="service-item-wrapper">

          <div class="service-item-heading"><h2>brand concepts</h2></div>

          <div><p>In marketing, the purpose behind all your actions should be what leads the way. Think of the classic communications model. You have a sender, a message and a receiver. These are the three pillars of all communication, and they all play a big part in your marketing.</p>
          

            <ul class="custom-bullet"> 
              <!-- <li>Website optimization</li>  -->
              <li>Marketing evaluation & analytics</li> <li>PR-activities</li> <li>SEM (Search Engine Marketing)</li> <li>SEO (Search Engine Optimization)</li> 
              <!-- <li>Marketing strategies</li> -->
               <li>Content production; e.g. social media, blog posts and articles</li> </ul>

          </div>
        </div>
      </section>

    <section class="services-customer-section2">
      <h2 class="dark-color">friends with benefits</h2>
      <div class="customer-boxcontainer">
        <div class="customer-box-item">
          <img src="/img/clients/partners_loggor-07.png" alt="" />
          <p>
            <a href="https://www.ne.se/" target=”_blank” class="dark-color">NE</a>, the biggest encyclopedia in
            Sweden knows the importancy of a strong brand. By supporting them
            with fresh marketing materials we make sure their marketing is
            consistent.
          </p>
        </div>

        <div class="customer-box-item">
          <img src="/img/clients/partners_loggor-10.png" alt="" />
          <p>
            <a href="https://www.adlen.nu/" target=”_blank” class="dark-color">Göran Adlén</a>, well-known for his inspiring and
            spot-on trend analysis, talks and books. We work closely with him
            his his visuals keep the same quality, and his new ideas to come
            alive.
          </p>
        </div>

        <div class="customer-box-item">
          <img src="/img/clients/partners_loggor_eseco_svart.png" alt="" />
          <p>
            <a href="https://www.eseco.se/" target=”_blank” class="dark-color">Eseco</a> in Malmö develops ERP systems making
            e-commerce much easier. XZ helps them continiously with their
            marketing; social media management, graphic design, marketing
            materials, print and much more.
          </p>
        </div>

        <div class="customer-box-item">
          <img src="/img/clients/partners_loggor-06.png" alt="" />
          <p>
           <a href="https://www.equitours.se/" target=”_blank” class="dark-color">Equi Tours</a> is a travel agency with a clear niche,
            and we are happy to help them with the reach and exposure they need
            through digital and classic advertising.
          </p>
        </div>
      </div>
    </section>
    <!-- 
    <section class="services-customer-section">
      <h2>this we do</h2>

      <div class="customer-boxcontainer">
        <div class="customer-box-item">
          <img
            src="/img/clients/partners_loggor-08.png"
            alt=""
            style="max-width: 100px; height: 100%"
          />
          <p>
            <strong>Nationalencyklopedin</strong> lasting impressions with
            product campaigns and digital advertising. We'll hold your hand
            through the strategy, production and iteration of the whole thing.
          </p>
        </div>

        <div class="customer-box-item">
          <img
            src="/img/clients/partners_loggor-09.png"
            alt=""
            style="max-width: 100px; height: 100%"
          />
          <p>
            <strong>Göran Adlén</strong> lasting impressions with product
            campaigns and digital advertising. We'll hold your hand through the
            strategy, production and iteration of the whole thing.
          </p>
        </div>

        <div class="customer-box-item">
          <img
            src="/img/clients/partners_loggor_eseco_vit.png"
            alt=""
            style="max-width: 100px; height: 100%"
          />
          <p>
            <strong>Eseco</strong> lasting impressions with product campaigns
            and digital advertising. We'll hold your hand through the strategy,
            production and iteration of the whole thing.
          </p>
        </div>

        <div class="customer-box-item">
          <img
            src="/img/clients/partners_loggor-05.png"
            alt=""
            style="max-width: 100px; height: 100%"
          />
          <p>
            <strong>Equi Tours</strong> lasting impressions with product
            campaigns and digital advertising. We'll hold your hand through the
            strategy, production and iteration of the whole thing.
          </p>
        </div>
      </div>
    </section> -->

    <!-- 
<section class="services-spec">
  <h2>glossary </h2>

  <div class="four-columns">
  

      <div class="column-item top-column">
        <h3>Branding</h3>
 <ul>
  <li>Concepts</li>
  <li>Storytelling</li>
  <li>Strategy</li>
  <li>Makaroner</li>
 </ul>
      </div>
      <div class="column-item top-column">
        <h3>Advertising</h3>
        <ul>
          <li>Google Ads</li>
          <li>Storytelling</li>
          <li>Strategy</li>
          <li>Makaroner</li>
         </ul>
      </div>
      <div class="column-item">
        <h3>Marketing</h3>
        <ul>
          <li>Google Ads</li>
          <li>Storytelling</li>
          <li>Strategy</li>
          <li>Makaroner</li>
         </ul>
      </div>
      <div class="column-item">
        <h3>Graphic Design</h3>
        <ul>
          <li>Google Ads</li>
          <li>Storytelling</li>
          <li>Strategy</li>
          <li>Makaroner</li>
         </ul>
      </div>
    </div>
  </div>


</section>  -->

    <!-- NEDAN HÄMTAR FOOTER + KONTAKTFORM -->
    <div id="openContactForm" class="hidden"></div>
    <footer id="master-footer"></footer>

    <script src="/script.js" is:inline></script>
  </body>
</html>
