.form-popup-bg {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  // background-color: rgba(43, 43, 43, 0.673);
  background-color: rgba(43, 43, 43, 0.5);
  animation: fadeContactOverlay 0.5s;
  overflow-y: hidden;
  z-index: 10000;
}

@keyframes fadeContactOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.form-container {
  background-color: #ecebebcf;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 10px rgba(0, 0, 0, 0.23);
  border: 1px solid rgb(180, 180, 180);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: auto;
  position: absolute;
  right: -40px;
  padding: 30px;
  color: black;
  top: 49%;
  backdrop-filter: blur(10px);
  animation: slideUpContactForm 0.6s ease-out forwards;
  @keyframes slideUpContactForm {
    from {
      transform: translate(-70px, 100vh);
    }
    to {
      transform: translate(-70px, -50px);
    }
  }

  @media (max-width: 768px) {
    max-width: 600px;
    top: 50%;
    left: 50%;
    padding: 40px;
    color: black;
    animation: slideUpContactForm 0.6s ease-out forwards;
    @keyframes slideUpContactForm {
      from {
        transform: translate(-50%, 100vh);
      }
      to {
        transform: translate(-50%, -50%);
      }
    }
  }
}

input::placeholder,
textarea::placeholder {
  font-size: 1.1rem;
  font-family: "greycliff-cf", sans-serif;
}

input,
textarea {
  cursor: text; // Sets the cursor to indicate text input
  font-size: 1.1rem;
}

.close-button {
  background: none;
  color: #000000;
  width: 40px;
  height: 40px;
  font-size: 2rem;
  position: absolute;
  top: 5px;
  margin-top: 0;
  right: 0;
  border: solid 1px transparent;
  cursor: pointer;
  &:hover {
    color: rgb(132, 132, 132);
  }
}

.form-group {
  &:first-of-type {
    margin-top: 1rem;
  }
}

.form-control {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
  height: 3rem;
  border: 1px solid transparent;
  padding-left: 1rem;
}

.hidden {
  display: none;
}

// LOADING SYMBOL WHEN CLICKED SENT BUTTON

.load {
  margin-left: 2rem;
  display: none;
  border-radius: 50%;
  flex-direction: row;
}

.progress {
  width: 0.5em;
  height: 0.5em;
  margin: 0.2em;
  scale: 0;
  border-radius: 50%;
  background: #c83c4e;
  animation: loading_492 2s ease infinite;
  animation-delay: 1s;
}

@keyframes loading_492 {
  50% {
    scale: 1;
  }
}

.progress:nth-child(2) {
  animation-delay: 1.3s;
}

.progress:nth-child(3) {
  animation-delay: 1.7s;
}
//

.stickyContactIcon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5000;
  display: none;
  @media (min-width: 768px) {
    display: inline-block;
  }
}

.stickyContactIcon svg {
  color: yellow; /* Updated the SVG color here */
  transform: scaleX(-1);
}

.stickyContactIcon:hover {
  transform: scale(1.04);
}

// Chatikon nedanför längst ned till höger

.chaticon-text {
  position: absolute;
  right: 70px; /* Start offscreen to the right */
  bottom: 13px;
  background-color: #2b2d30;
  color: white;
  font-weight: 600;
  padding: 5px;
  font-size: 0.7rem;
  mix-blend-mode: exclusion;
  white-space: nowrap;
  z-index: -4999;
  visibility: hidden;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out forwards;
}

.stickyContactIcon:hover .chaticon-text {
  visibility: visible;
  opacity: 1;
}

div.endnote a {
  color: #c83c4e;
}

#thankYouMessage .contactForm {
  bottom: 0;
}
