#home-hero {
  height: 90vh;
  display: flex;
  padding: 8%;
  justify-content: center;
  align-items: center;
  text-align: center;
  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-transform: lowercase;
    font-weight: 200;
    @media (min-width: $breakpoint-tablet) {
      font-size: 4.2rem;
      margin-top: 1.5rem;
    }
  }
  h1 {
    margin-top: 10rem;
  }
}

#home-hero-two {
  padding: 5rem 2rem 0rem 2rem;
  // height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 100;
  user-select: none;
  @media (min-width: $breakpoint-tablet) {
    padding: 8rem 0rem 6rem 0rem;
    height: inherit;
  }

  .header-welike {
    display: flex;
    z-index: 100;
    flex-direction: column;
    align-items: center;
    @media (min-width: $breakpoint-tablet) {
      padding-bottom: 14rem;
    }
    h2 {
      font-weight: 700;
      line-height: 1.1;
      text-align: center;
      margin-bottom: 3rem;
      margin-top: 2rem;
      color: #142238;
      strong {
        font-weight: 600;
      }
      @media (min-width: $breakpoint-tablet) {
        font-size: 3rem;
        margin-top: 1.5rem;
      }
    }
  }

  .smile {
    cursor: pointer;
    display: inline-block;
    margin-left: 2rem;
    width: 65px;
    margin-right: 30px;
    font-size: 6rem;
    color: #c83c4e;
    height: 100px;
    margin-bottom: -2rem;
  }
}

// PROFILE- TWO COLUMNS WITH OVERLAY

#profiles {
  padding: 10rem 2rem;
}
#profileImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;

  .profile {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;

    &:hover {
      h4,
      h5 {
        opacity: 0;
      }
      img {
        filter: blur(4px);
      }
      .overlay {
        opacity: 1;
      }
      p {
        visibility: visible;
      }
    }
  }

  .overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15%;
    background-color: rgba(1, 1, 2, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 300;
    z-index: 10;
    transition: all 0.6s;
    p {
      visibility: hidden;
      strong {
        color: #c83c4e;
      }
    }
  }

  .left-profile {
    color: #040405;
  }

  .right-profile {
    color: #f8f7ef;
  }

  .profile-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 10%;
    height: 100%;
    line-height: 1;

    button {
      margin-top: 15%;
    }
  }
  img {
    max-height: 80vh;
    object-fit: contain;
    width: 100%;
  }
}

// ------------------------------

#ne-background {
  background-image: URL(img/centered-ne.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  max-width: 100%;

  @media (min-width: $breakpoint-tablet) {
    background-size: cover;
  }
}

// --------------------

.services-spec {
  background-color: #1c1e21;
  padding: 5rem 2rem;
  box-shadow: 0px -20px 20px -10px rgba(0, 0, 0, 0.3);
  position: relative;
  h2 {
    color: #e7e8ef;
    max-width: 1000px;
    margin: auto;
    font-size: clamp(2rem, 6rem, 7rem);
    white-space: nowrap;
    margin-bottom: 2.5rem;

    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 4.5rem;
    }
  }
  .four-columns {
    cursor: default;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1050px;
    justify-content: space-between;
    align-items: center;
    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
    }
    h3 {
      margin-left: 0;
      margin-bottom: 0.3rem;
      padding-left: 0;
      text-align: left;
      font-size: 1.4rem;
    }
    .column-item {
      flex: 0 1 44%;
      display: flex;
      border-radius: 8px;
      flex-direction: column;
      align-items: flex-start;
      color: rgb(230, 230, 230);
      margin-bottom: 2rem;
      &:hover {
        color: white;
      }
      @media (min-width: $breakpoint-tablet) {
        margin-bottom: 2.5rem;
        padding: 1rem;
      }
    }
    .top-column {
      @media (min-width: $breakpoint-tablet) {
        margin-bottom: 5rem;
      }
    }
  }
  ul {
    li {
      list-style: none;
      margin-bottom: 0.3rem;
      &:first-child {
        margin-top: 0.3rem;
      }
    }
  }
}

//------  CUSTOMER CASE CLIENT LOGOS

#customercase {
  background-color: #1c1e21;
  padding: 6rem 4rem;
  .client-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    column-gap: 6rem;
    justify-content: center;
    .client-logo {
      img {
        max-width: 120px;
      }
      &:nth-child(3) {
        img {
          height: 50px;
          margin-top: 10px;
        }
      }
      &:nth-child(4) {
        img {
          height: 60px;
          margin-top: 5px;
        }
      }
      &:nth-child(5) {
        img {
          margin-top: 18px;
        }
      }
    }
  }
}

// ---

.white-bg {
  width: 100%;
  background: rgb(247, 247, 247);
  background: radial-gradient(
    circle,
    rgba(247, 247, 247, 1) 38%,
    rgba(232, 232, 232, 1) 81%
  );
  position: relative;
  overflow: hidden;

  .highlightTextContainer {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    h1 {
      align-self: flex-end;
      line-height: 0.9;
    }
  }

  .highlightTextContainer {
    svg {
      max-height: 260px;
      flex: 0 0 100%;
      font-weight: 800;
      align-self: flex-end;
      padding-bottom: -2rem;
      text {
        stroke: #c83c4e;
        font-weight: 700;
        height: 100%;
        display: flex;
        stroke-width: 3;
        font-size: clamp(3rem, 70vw, 19rem);
        animation: animationEffect 4s linear forwards,
          filling 4.5s ease-in forwards;
        -webkit-animation: animationEffect 4s linear forwards,
          filling 4.5s ease-in forwards;
        @media (min-width: $breakpoint-tablet) {
          font-size: clamp(3rem, 40vw, 40rem);
          margin-top: 3rem;
        }
      }
    }
  }
  @keyframes filling {
    0%,
    90% {
      fill: #c83c4e;
      fill-opacity: 0;
    }
    100% {
      fill: #c83c4e;
      fill-opacity: 1;
    }
  }
  @keyframes animationEffect {
    0% {
      stroke-dasharray: 0 100%;
      /* stroke-dashoffset: 20%; */
    }
    100% {
      stroke-dasharray: 100% 0;
      /* stroke-dashoffset: -20%; */
    }
  }

  .intro-subheader {
    font-size: 2rem;
    line-height: 1.3;
    flex: 0 0 100%;
    color: #1c1e21;
    font-weight: 300;
    padding: 0rem 2rem;
    margin-top: -1rem;
    align-self: flex-start;
    text-align: center;
    opacity: 0;
    animation: fadeH2 4s ease forwards;

    @media (min-width: $breakpoint-tablet) {
      margin-top: -3rem;
    }
  }
  @keyframes fadeH2 {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .nofade-header {
    color: #1c1e21;
    text-align: center;
  }

  .fade-highlight {
    opacity: 0;
    font-size: 4rem;
    font-weight: 800;
    transition: opacity 1s;
    color: grey;
    @media (min-width: $breakpoint-tablet) {
      font-size: 10vw;
    }
  }

  .fade-highlight.visible {
    opacity: 1;
  }
  .word-highlight {
    display: inline;
    color: grey;
    animation: opacityFade 1s forwards, highlightWord 0.4s forwards;
  }

  @keyframes highlightWord {
    to {
      color: #1c2535;
    }
  }
}

.button-center {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  color: white;
  @media (min-width: $breakpoint-tablet) {
    margin-top: 2rem;
  }
}

#what-we-do {
  background-color: #1c1e21;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
#three-cards {
  padding: 2rem;
  display: flex;
  justify-content: center;

  h2 {
    color: white;
    font-size: 4rem;
  }
  .card-container {
    max-width: 1100px;
    display: column;
    flex: wrap;
    gap: 30px;
    @media (min-width: 1000px) {
      display: flex;
      column-gap: 20px;
    }

    .card-item {
      background-color: #222529;
      border: 1px solid #525253;
      border-radius: 8px;
      color: white;
      padding: 2rem;
      max-width: 800px;
      margin-bottom: 1rem;

      transition: transform 1s, opacity 1s ease-in;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      @media (min-width: 1000px) {
        max-width: 300px;
        min-width: 250px;
      }
      h4 {
        font-size: 1.2rem;
        margin-bottom: 0.6rem;
      }
      &:hover {
        transform: scale(1.03);
      }
    }
  }
}

// INTRODUCTION

#introduction {
  padding: 15rem 0rem 15rem 0rem;
  background-color: #1c1e21;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  @media (min-width: $breakpoint-tablet) {
    padding: 20rem 2rem 20rem 2rem;
  }
  .intro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: opacity 0.6s ease;
    max-width: 800px;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 0 auto;
    padding: 1rem 1.4rem;
    @media (min-width: $breakpoint-tablet) {
      margin-left: -6px;
      padding: 1rem 2rem;
    }
  }
  h2 {
    flex: 0 0 100%;
    padding: 0rem 2rem;
    line-height: 1.1;
    text-align: center;
    font-size: 15vw;
    @media (min-width: $breakpoint-tablet) {
      font-size: 5rem;
      padding: 0rem;
    }
  }
}

#introduction-about {
  padding: 4rem 2rem;
  @media (min-width: $breakpoint-tablet) {
    padding: 8rem 2rem;
  }
  h2 {
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 2rem;
  }
  .textvideo-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    max-width: 1200px;
    gap: 2rem;
    .left-split-text {
      flex: 0 0 100%;
      order: 2;
      margin-top: -5rem;
      @media (min-width: $breakpoint-tablet) {
        flex: 0 0 50%;
        order: 1;
        margin-top: 0;
      }
    }
    .right-split-video {
      flex: 0 0 100%;
      display: flex;
      justify-content: center;
      order: 1;
      margin-bottom: 4rem;

      @media (min-width: $breakpoint-tablet) {
        flex: 0 0 40%;
        order: 2;
        justify-content: flex-end;
      }
      video {
        max-width: 550px;
        border-radius: 5px; /* Adds rounded corners with a radius of 5px */
        box-shadow: 0px 20px 34px -3px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

// EMBRACE-FUNKTION

.embrace-answer,
.embrace-answer2 {
  opacity: 0;
  animation: fadeIn 3s forwards;
  margin-top: 1rem;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.embrace-answer {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 0.5s;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
.embrace-answer2 {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  // animation-delay: 0.5s;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.embraceText {
  background: linear-gradient(to right, white, #c6c6c6); /* super light grey */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline;
  margin-bottom: 1.5rem;
  @media (min-width: $breakpoint-tablet) {
  }
}

#tellMoreButton {
  margin-top: 1rem;
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 1.5s;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

//

// FADE IN REVEAL

.fade-container {
  display: flex;
  margin: auto;
  max-width: 1200px;
  // background-color: red;
  column-gap: 130px;
  justify-content: space-between; /* Adjust this as needed */
}

.fade-item {
  opacity: 0;
  transition: opacity 1s ease; /* Adjust timing as needed */
  img {
    width: 150px;
  }
}

//

//

// SECTION VARIABLES - BACKGROUNDS

.dark-bg {
  background-color: #1c1e21;
  // display: block;
  // height: 80vh;
}

// -------------

.about-us {
  display: flex;
  justify-content: center;
  padding: 7rem 1.4rem 5rem 1.4rem;
  @media (min-width: $breakpoint-tablet) {
    padding: 10rem 2rem;
  }
  .text-centercontainer {
    text-align: center;
    h2 {
      text-align: center;
    }
    @media (min-width: $breakpoint-tablet) {
      text-align: left;
    }
  }
}

.text-centercontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  @media (min-width: $breakpoint-tablet) {
    margin: 0 auto;
    max-width: 680px;
    padding: 0rem 1.4rem;
  }
  #morph-xz {
    @media (min-width: $breakpoint-tablet) {
      padding-left: 1.4rem;
    }
  }
  h2 {
    text-align: left;
    width: 100%;
    line-height: 1.1;
    @media (min-width: $breakpoint-tablet) {
      text-align: center;
    }
  }
  p {
    font-size: 1.2rem;
    @media (min-width: $breakpoint-tablet) {
      font-size: 1.2rem;
      padding: 0rem 2rem;
    }
  }
}

.fullscreen-img {
  background-image: url("img/DSCF9276-3.jpg");
  height: 100vh;
  background-size: cover;
  position: relative;
  img {
    display: block;
  }
}

.person-container {
  max-width: 1000px;
  background-color: #c83c4e;
  display: flex;
  margin: 10rem auto;
  gap: 2rem;
  align-items: stretch; /* Changed from center to stretch */
  justify-content: space-between;

  .person-text {
    flex: 0 1 70%;
    padding: 2rem;
    position: relative;
    min-height: 100%; /* Changed to min-height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    .contact-strip {
      // background-color: blue;
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 1rem 2rem;
      width: 100%;
    }
  }

  .person-img {
    flex: 0 0 30%;
    // background-color: yellow;

    img {
      width: 100%;
      display: block;
    }
  }
}

.test-inez {
  max-width: 100%;
  padding: 4rem 4rem 0rem 0rem;
  display: flex;
  align-items: center;
  .person-IMG-transp {
    flex: 0 0 60%;
  }
  img {
    width: 100%;
    &:last-child {
      order: 1;
    }
  }

  .person-text {
    margin-top: -5rem;
    margin-left: -6rem;
  }
  h2 {
    font-weight: 800;
    font-size: 5rem;
  }
}

// BLOG-PREVIEW SECTION IN INDEX.HTML

#blog-preview {
  background-color: #1c1e21;
  padding: 3rem;
  height: 90vh;
  display: flex;
  flex-direction: column;

  .blogpreview-container {
    display: flex;
    padding: 3rem;
    flex-wrap: wrap;
    background-color: #222529;
    border: 1px solid #525253;
    border-radius: 8px;
    justify-content: space-between;
    // background-color: red;
    align-items: center;
    margin: auto;
    max-width: 900px;
    gap: 4rem;
    h2 {
      margin-bottom: 4rem;
      flex: 0 0 100%;
    }

    .blogpreview-text {
      color: white;
      flex: 0 0 50%;
      display: flex;
      flex-wrap: wrap;
      h4 {
        flex: 0 0 100%;
        font-size: 0.9rem;
        font-weight: 300;
      }
      h3 {
        flex: 0 0 100%;
        margin-bottom: 1rem;
      }
    }
    .blogpreview-image {
      flex: 0 0 40%;
      position: relative;
      transition: transform 1s;
      img {
        max-width: 100%;
        display: block;
        border-radius: 8px;
      }
      &:hover {
        transform: scale(1.05);
      }
    }
    .blogpreview-overlay {
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      position: absolute;
      width: 100%;
      border-radius: 8px;
      transition: all 0.5s;
      background-color: rgba(0, 0, 0, 0.088);
      &:hover {
        opacity: 1;
      }
    }
  }
}

// BLOG FULL WIDTH

#blog3-preview {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #1c1e21;

  .blogcontainerThree {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 2rem;
    .text-container {
      order: 2;
      text-align: center;
      @media (min-width: $breakpoint-tablet) {
        order: 0;
      }
      h2 {
        flex: 0 0 100%;
        font-size: 10vw;
        text-align: left;
        line-height: 1.1;
        @media (min-width: $breakpoint-tablet) {
          font-size: 8vw;
        }
      }
      p {
        margin-bottom: 2rem;
        margin-top: 1rem;
        font-size: 1.5rem;
        max-width: 500px;
        margin: 2rem auto;
      }
      .btn-red {
        margin-bottom: 4rem;
      }
    }
  }
}

//  #ending section

#ending {
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem;
  position: relative;
  @media (min-width: $breakpoint-tablet) {
    padding: 6rem 0rem;
  }
  .endnote {
    border-radius: 8px;
    padding: 2rem;
    color: #1c1e21;
    @media (min-width: $breakpoint-tablet) {
      max-width: 800px;
      padding: 4rem;
    }
    p {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    h3 {
      font-size: 2.4rem;
      line-height: 1.1;
      color: #1c1e21;
      @media (min-width: $breakpoint-tablet) {
        font-size: 3rem;
      }
    }
  }
}

// TEST ID SPLIT-CONTAINER

.split-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  gap: 0;
  max-width: 1500px;
  height: 100%;
  overflow-x: hidden;
  @media (min-width: $breakpoint-tablet) {
    flex-wrap: nowrap;
  }

  .left-split {
    flex: 0 0 100%;
    padding: 0rem 2rem 4rem 2rem;
    margin-bottom: 6rem;
    z-index: 2;
    p {
      text-align: left;
      font-size: 1.3rem;
    }
    button {
      margin-top: 2rem;
      display: block;
    }
  }

  .right-split {
    flex: 0 0 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: -5rem;
    margin-top: -20rem;

    img {
      max-width: 80%;
      display: block;
    }
    .felix-img {
      margin-top: -8rem;
    }
  }
  @media (min-width: $breakpoint-tablet) {
    .left-split,
    .right-split {
      flex: 0 0 100%;
    }

    .left-split {
      order: 1;
      flex: 0 0 40%;
      padding-left: 2rem;
      margin-left: auto;
    }

    .right-split {
      order: 2;
      margin-right: 0;
      flex: 0 0 50%;
      align-items: flex-end;
      max-height: 100%;
      img {
        margin-top: 5rem;
        max-width: 80%;
        max-height: 650px;
        display: block;
      }
    }
  }
}
.person-reverse {
  .split-container {
    .left-split {
      order: 1;
      flex: 0 0 100%;
    }
    .right-split {
      order: 2;
      flex: 0 0 100%;
    }
    @media (min-width: $breakpoint-tablet) {
      .left-split,
      .right-split {
        flex: 0 0 100%;
      }
      .left-split {
        order: 2;
        flex: 0 0 40%;
        padding-left: 2rem;
        margin-left: auto;
        margin-right: 4rem;
      }
      .right-split {
        order: 1;
        margin-right: 0;
        flex: 0 0 50%;
        align-items: flex-end;
        justify-content: center;
        max-height: 100%;
        margin-top: 1rem;
        img {
          max-width: 80%;
          max-height: 800px;
          display: block;
        }
      }
    }
  }
}

.customers-container {
  display: flex;
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin: auto;
  justify-content: center;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  @media (min-width: $breakpoint-tablet) {
    padding-top: 0;
    padding-bottom: 0;
  }
  .customers-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    column-gap: 4rem;
    row-gap: 1rem;
    justify-content: center;
    max-width: 450px;
    @media (min-width: $breakpoint-tablet) {
      row-gap: 1rem;
      column-gap: 6rem;
      max-width: inherit;
    }
    .client-logo {
      img {
        max-width: 100px;
        &:hover {
          transform: scale(1.02);
        }
        @media (min-width: $breakpoint-tablet) {
          max-width: 120px;
        }
      }
      &:nth-child(3) {
        img {
          height: 50px;
          margin-top: 10px;
        }
      }
      &:nth-child(4) {
        img {
          height: 60px;
          margin-top: 5px;
        }
      }
      &:nth-child(5) {
        img {
          margin-top: 18px;
        }
      }
    }
  }
  .overlay {
    position: absolute;
    display: flex;
    gap: 1rem;
    left: 50%;
    width: 100%;
    bottom: 5%;
    transform: translateX(-50%);

    h2 {
      font-size: 1.4rem;
      color: #c83c4e;
      font-weight: 600;
    }
    img {
      max-width: 60px;
    }
  }
}

//  SERVICES SIDA

#graphics {
  padding: 0rem 2rem;
  height: 70vh;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  .service-item {
    flex: 0 0 85%;
    padding: 2rem;
    &:nth-child(2) {
      background-color: rgba(128, 128, 128, 0.102);
    }
  }
}

#services-twoColumns {
  display: flex;
  gap: 2rem;
  padding: 20rem 2rem;
  justify-content: center;
  align-items: center;
  div {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    img {
      margin-bottom: 2rem;
      margin-top: 2rem;
      // margin-left: -2rem;
      max-width: 50%;
      order: 0;
    }
    &:first-of-type {
      // background-color: red;
      display: flex;
      justify-content: left;
    }
    &:last-of-type {
      display: flex;
      // background-color: red;
    }
    h2 {
      text-align: center;
    }
  }
}

// CLIENT LOGO SLIDER ANIMATION
#logo-container {
  display: flex;
  max-width: 800px;
  margin: auto;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hide overflowing logos */
  position: relative;
  height: 300px; /* Adjust as needed */
  .logo-container-overlay {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 2000;
    justify-content: space-between;
    div {
      width: 150px;
      opacity: 0;
      background-size: 150px 100%;
      background-repeat: no-repeat;
      &:first-of-type {
        background: linear-gradient(to right, #e8e8e8 20%, transparent 60%);
      }
      &:last-of-type {
        background: linear-gradient(to left, #e8e8e8 20%, transparent 60%);
      }
      @media (min-width: $breakpoint-tablet) {
        opacity: 1;
      }
    }
  }
}

.client-logo2 {
  opacity: 0.3;
  transition: transform 1s ease, opacity 1s ease, width 1s ease; /* Smooth transition for movement and opacity */
  width: 20%; /* Adjust size as needed */
  position: absolute;
  display: flex;
  align-items: center;
}

.featured {
  opacity: 1;
  // transform: scale(1.5); /* Slightly larger */
  width: 40%;
}

// END

// CUSTOMERBOXES (services-sidan)

.services-customer-section2 {
  padding: 8rem 2rem;
  @media (min-width: $breakpoint-tablet) {
    padding: 8rem 2rem 4rem 2rem;
  }
  h2 {
    text-align: left;
    margin-bottom: 6rem;
    @media (min-width: $breakpoint-tablet) {
      text-align: center;
    }
  }
}
.customer-boxcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  gap: 2rem;
  max-width: 1400px;
}

.customer-box-item {
  display: flex;
  align-items: center;
  flex: 0 0 100%;
  border-radius: 8px;
  margin-bottom: 2rem;
  &:hover {
    color: black;
    cursor: default;
    background-color: #d3d0d036;
  }

  @media (min-width: $breakpoint-desktop) {
    align-items: center;
    flex: 0 0 43%;
    width: 650px;
    margin-bottom: 4rem;
    padding: 1.2rem 2rem;
  }

  p {
    font-size: 1rem;
    @media (min-width: $breakpoint-tablet) {
      font-size: 1.1rem;
    }
  }

  img {
    max-width: 100px;
    margin-bottom: 1rem;
    order: 2;
    padding-left: 1rem;
    object-fit: contain;
    @media (min-width: $breakpoint-desktop) {
      margin-bottom: 0;
      margin-right: 1.5rem;
      order: 0;
    }
  }
}

//

.bird {
  width: 90px;
  position: absolute;
  bottom: 0px;
  left: 45%;
  z-index: 2;
  transition: transform 1s ease forwards; /* Default transition */
  transform-origin: bottom;
  cursor: pointer; // To indicate it's clickable
  &:hover {
    transform: rotate(-10deg);
  }

  @keyframes jumpAndBackflip {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    50% {
      transform: translateY(-200px) rotate(-180deg); /* Higher jump and rotate halfway */
    }
    100% {
      transform: translateY(0) rotate(-360deg); /* Complete the rotation */
    }
  }

  @keyframes flyAway {
    50% {
      transform: rotate(-20deg) translateX(75vw) translateY(-200px);
    }
    60% {
      transform: rotate(-20deg) translateX(75vw) translateY(-300px) scaleX(-1);
    }
    100% {
      transform: translateX(15vw) translateY(-514px) scaleX(-1);
    }
  }
}
.bird-two {
  top: -170px;
  transform: rotate(140deg);
}

//

.vh-80 {
  height: 80vh;
}

.vh-90 {
  height: 90vh;
}

.vh-100 {
  height: 100vh;
}

//
.red-flag-box {
  background-color: #c83c4e;
  padding: 0.8rem 2rem;
  text-align: center;
  font-weight: 600;
  p:hover {
    color: rgb(214, 214, 214);
  }
}

//

.service-item {
  display: flex;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  @media (min-width: $breakpoint-desktop) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.service-item-wrapper {
  display: flex;
  flex: 0 0 80%;
  // background-color: red;
  flex-direction: column;
  margin: auto;
  max-width: 1000px;
  padding: 4rem 0rem;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  @media (min-width: $breakpoint-desktop) {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10rem;
  }

  ul.custom-bullet {
    list-style-type: none;
    padding-left: 0;
    margin-top: 2rem;

    li {
      position: relative;
      padding-left: 1.4rem;
      margin-bottom: 0.2rem;

      &::before {
        content: "•";
        color: #c83c4e;
        display: inline-block;
        font-size: 4rem;
        line-height: 0.2;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}

.service-item-heading {
  flex: 0 0 30%;
  text-align: left;
  @media (min-width: $breakpoint-desktop) {
    text-align: right;
  }
}
.service-item-text {
  height: 100%;
  flex: 0 0 60%;
}

.reversed-service {
  .service-item-heading {
    order: 0;
    @media (min-width: $breakpoint-desktop) {
      order: 2;
      text-align: left;
    }
  }
}

// about us -sidan

#intro-about {
  height: 80vh;
  @media (min-width: $breakpoint-tablet) {
    height: 90vh;
  }
}

#morph-xz {
  display: flex;
  // margin-top: 2rem;
  justify-content: center;
  font-size: 40px;
  margin-left: -2.6rem;
  @media (min-width: $breakpoint-tablet) {
    margin-left: 0;
  }
}

#morph-xz span {
  display: inline-block;
  transition: opacity 2s 1.5s, transform 2s 1.5s;
  font-size: 3rem;
  font-weight: 700;
  @media (min-width: $breakpoint-tablet) {
    font-size: 6rem;
  }
}

.hide {
  opacity: 0;
}

.person-quotetext {
  line-height: 1.4;
}

//

// services
#intro-services {
  height: 80vh;
  @media (min-width: $breakpoint-tablet) {
    height: 90vh;
  }
}
