

<div class="stickyContactIcon"><a class="btnOpenForm"><svg fill="none" height="40" viewBox="0 0 24 24" width="40" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="m22.75 12c0-5.93706-4.8129-10.75-10.75-10.75-5.93706 0-10.75 4.81294-10.75 10.75 0 1.7183.40371 3.3445 1.12213 4.7869.1072.2152.12995.435.08047.6199l-.5956 2.226c-.40773 1.5238.98637 2.9179 2.5102 2.5102l2.22604-.5956c.1849-.0495.40467-.0267.61991.0805 1.44238.7184 3.06855 1.1221 4.78685 1.1221 5.9371 0 10.75-4.8129 10.75-10.75zm-10.75-9.25c5.1086 0 9.25 4.14137 9.25 9.25 0 5.1086-4.1414 9.25-9.25 9.25-1.4811 0-2.87879-.3475-4.11809-.9648-.4974-.2477-1.09218-.3431-1.67638-.1868l-2.22604.5956c-.40883.1094-.78286-.2647-.67347-.6735l.59561-2.226c.15631-.5842.06091-1.179-.18683-1.6764-.61728-1.2393-.9648-2.637-.9648-4.1181 0-5.10863 4.14137-9.25 9.25-9.25z" fill="#c83c4e" fill-rule="evenodd"/></svg></a>
    <span class="chaticon-text">YO</span>
  </div>

