---
---


<style>
  .container {
    margin: 0 auto;
    max-width: 900px;
    padding: 1.4rem;
  }

  .container h2 {
  font-size: var(--step-1);
  font-family: var(--font-family-heading);
  color: #c83c4e;
  padding-top: 2rem;

  }
</style>


<div class="container">
  <slot />
</div>


