---
import { settings } from "../data/settings";
import Container from "./Container.astro";
import SocialList from './SocialList.astro';
import LittleSticksPlug from "./LittleSticksPlug.astro";
---

<link rel="stylesheet" href="/sass/components/contact-form.css">
<link rel="stylesheet" href="/sass/components/footer.css">



<div id="master-footer"></div>
<div id="openContactForm" class="hidden"></div>

<script src="/script.js" is:inline></script>

