---
---

<section class={`${Astro.props.bgColor} vh-90`}>
    <div class="highlightTextContainer">
    
        <svg viewBox="0 0 1350 600">
          <text x="50%" y="80%" fill="transparent" text-anchor="middle">xz studios</text>
        </svg>
     
      
        <h2 class="intro-subheader desktop" style="margin-top: 0.1rem;">

  
            <slot name="subheader"></slot>
        
            <!-- <p style="margin-top: 0.5rem;font-weight: 200;font-size: 1.1rem;">Marketing & branding <span style="color: #c83c4e">–</span> Est. 2023 Malmö</p> -->

          </h2>

          
    
    <h2 class="intro-subheader mobile">
        <slot name="subheaderMobile"></slot>

    </h2>
    
  </div>

</section>

