---
---

<section class={`${Astro.props.bgColor}`} id="intro-hero">
    <div class="highlightTextContainer">
    
        <svg viewBox="0 0 1350 600">
          <text x="50%" y="80%" fill="transparent" text-anchor="middle">xz studios</text>
        </svg>
     
      
        <h2 class="intro-subheader desktop" style="margin-top: 0.1rem;">

  
            <slot name="subheader"></slot>
        
            <!-- <p style="margin-top: 0.9rem;font-weight: 300;font-size: 1rem;">MALMÖ - EST. 2023</p> -->
            <!-- <p style="margin-top: 0.9rem;font-weight: 400;font-size: 0.9rem;">MARKETING AND BRANDING IN MALMÖ</p> -->

          </h2>

          
    
    <h2 class="intro-subheader mobile">
        <slot name="subheaderMobile"></slot>

    </h2>
    
  </div>

</section>

