---
---

<section class={`${Astro.props.bgColor} vh-80`}>
    <div class="highlightTextContainer">
      <svg stroke="#c83c4e" stroke-width="2" class="text-line" width="100%">
        <text
          x="50%" 
          dominant-baseline="middle"
          text-anchor="middle"
          y="50%"
        
        >
          xz studios
        </text>


      
        <h2 class="intro-subheader desktop" style="margin-top: 0.1rem;">
            <slot name="subheader"></slot>
        
            <p style="margin-top: 1.5rem;font-weight: 500;">Marketing exploration from, brands & concepts from Malmö</p>

          </h2>
          
    
    <h2 class="intro-subheader mobile">
        <slot name="subheaderMobile"></slot>

    </h2>
    
  </div>

</section>