---
import BaseHead from "../components/BaseHead.astro";
import type { Props as BaseHeadProps } from '../components/BaseHead.astro';
import CreateCopyCodeButtons from "../components/CodeButtons/CreateCopyCodeButtons.astro";

export interface Props {
	seo?: BaseHeadProps;
}

const { seo } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {...seo} />
    <CreateCopyCodeButtons />
    <script>
      import '../components/CodeButtons/copy-code-button'
    </script>
    	
      <script type="text/javascript">
        // Clarity
        (function (c, l, a, r, i, t, y) {
          c[a] =
            c[a] ||
            function () {
              (c[a].q = c[a].q || []).push(arguments);
            };
          t = l.createElement(r);
          t.async = 1;
          t.src = "https://www.clarity.ms/tag/" + i;
          y = l.getElementsByTagName(r)[0];
          y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "jovcl27t8k");
      </script>
       <script async src="https://www.googletagmanager.com/gtag/js?id=G-SM8RYLZY5G"></script>
       <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
       
         gtag('config', 'G-SM8RYLZY5G');
       </script>
  </head>
  <body>
    <slot name="header" />
    <main class="flow">
      <slot />
    </main>
    <slot name="footer" />
    
  </body>
</html>
