h1 {
  font-size: 4.4rem;
  // display: none;
  line-height: 1;
  font-weight: 800;
  color: #c83c4e;
  @media (min-width: $breakpoint-tablet) {
    font-size: 6vw;
  }
}

h2 {
  font-size: 2.6rem;
  line-height: 1;

  @media (min-width: $breakpoint-tablet) {
    font-size: 4.2rem;
    line-height: 1;
  }
}

h2.white {
  color: white;
}

h4 {
  font-size: 5rem;
}

p.white {
  color: white;
}

p.dark {
  color: #1c1e21;
}

p {
  font-size: 1.2rem;
}

p.p-big {
  font-size: 1.4rem;
}

.signature {
  font-family: "lindsey-signature";
  font-weight: 400;
  font-size: 5rem !important;
}
