a {
  text-decoration: none;
  font-weight: 700;
  color: #c83c4e;
}
a:hover {
  color: #e3455a;
}

.btnOpenForm {
  cursor: pointer;
}

button {
  border: 1px solid transparent;
  background-color: transparent;
}

.btn-outline-white {
  padding: 0.8rem 2rem;
  border: 1px solid #fffef9;
  color: #fffef9;
  font-size: 1rem;
  font-weight: 400;
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.btn-outline-white:hover {
  background-color: #fffef9;
  color: #040405;
}

.btn-outline-black {
  padding: 0.8rem 2rem;
  background-color: #1d1d1d;
  color: white;
  font-size: 1.1rem;
  font-weight: 300;
  border: 1px solid transparent;
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;
  cursor: pointer;
}
.btn-outline-black:hover {
  background-color: rgba(43, 43, 43, 0.795);
}

.btn-outline-red {
  padding: 0.8rem 2rem;
  background-color: transparent;
  color: white;
  font-size: 1.1rem;
  font-weight: 300;
  border: 1.5px solid #c83c4e;
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;
  cursor: pointer;
}
.btn-outline-red:hover {
  background-color: rgba(43, 43, 43, 0.795);
}

.btn-dark {
  margin-top: 4rem;
  padding: 0.8rem 1.2rem;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  border: transparent;
  font-size: 1.2rem;
  font-weight: 600;
  -webkit-box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
     -moz-box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
          box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  position: relative;
  overflow: hidden;
}
.btn-dark:hover {
  background-color: #f9f7f7;
  color: #040405;
}
.btn-dark a {
  text-decoration: none;
  font-weight: 500;
  color: #040405;
}

.btn-red {
  padding: 0.8rem 2rem;
  background-color: #c83c4e;
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
  display: inline-block;
  border: 1.5px solid #c83c4e;
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
}
.btn-red:hover {
  background-color: #e34a5e;
  color: white;
  -webkit-transform: scale(1.02);
     -moz-transform: scale(1.02);
      -ms-transform: scale(1.02);
       -o-transform: scale(1.02);
          transform: scale(1.02);
}

.btn-closed {
  padding: 0.8rem 2rem;
  background-color: #969696;
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
  display: inline-block;
  border: 1.5px solid transparent;
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;
  cursor: default;
}